<div class="container-fluid dashboard pb">
  <div class="row full-height">
    <%= render "dashboard/sidebar_nav" %>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-4 pt-3">
      <h1>Editing journal entry</h1>

      <%= render "journal_entries/form", journal_entry: @journal_entry %>
    </main>
  </div>
</div>
