<div class="container-fluid dashboard pb">
  <div class="row full-height">
    <%= render "dashboard/sidebar_nav" %>

    <div class="col-md-10">
      <h1>Editing journal entry</h1>

      <%= render "journal_entries/form", journal_entry: @journal_entry %>
    </div>
  </div>
</div>
