<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title">🎉YAY! You completed your experiment</h5>
    <p class="card-text">Evaluate "<%= @active_experiment.name %>" to finalize this experiment</p>
    <%= link_to "Evaluate experiment",
    edit_experiment_user_path(
    id: ExperimentUser.find_by(experiment_id: @active_experiment.id, user_id: current_user.id).id,
    experiment_id: @active_experiment.id),
    class: "btn btn-primary" %>
  </div>
</div>
