<div id="selected_journal_entries">
  <% journal_entries_by(@start_date, @end_date) %>

  <% if @selected_journal_entries.present? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="d-flex">
          <th class="col-3 col-md-2 col-lg-1">Date</th>
          <th class="col-3 col-md-2">Experiment</th>
          <th class="col-3 col-md-2 col-lg-1">Success?</th>
          <th class="col-10 col-md-6 col-lg-8">Notes</th>
        </tr>
      </thead>
      <tbody>
          <% @selected_journal_entries.each do |journal_entry| %>
          <tr class="d-flex">
            <th scope="row" class="col-3 col-md-2 col-lg-1"><%= journal_entry.date.to_s(:journal_date) %></th>

            <% if journal_entry.experiment_id.present? %>
              <td class="col-3 col-md-2 text-intense text-<%= journal_entry_experiment(journal_entry).category.name.downcase %>"><%= journal_entry_experiment(journal_entry).name %></td>
            <% else %>
              <td class="col-3 col-md-2">none</td>
            <% end %>

            <td class="col-3 col-md-2 col-lg-1"><%= journal_entry.experiment_success ? "yes" : "no" %></td>
            <td class="col-10 col-md-6 col-lg-8">Doggo ipsum blep borkdrive lotsa pats thicc, borking doggo waggy wags.  Waggy wags very hand that feed shibe floofs super chub, heckin angery woofer very jealous pupper. I am bekom fat shoob such treat corgo fat boi borkdrive smol sub woofer long woofer, fat boi </td>
          </tr>
          <% end %>
      </tbody>
    </table>
    <% else %>
    <span>No observations</span>
    <% end %>
  </div>
</div>
