<% content_for :meta_title, "Lab - Experiment.rocks" %>

<div class="container-fluid dashboard">
  <div class="row full-height">
    <%= render 'sidebar_nav' %>

    <main role="main" class="col-md-9 col-lg-10 ml-sm-auto px-0 bg-light overflow-hidden">
      <section>
        <div class="jumbotron rounded-0 bg-brand text-white dashboard-header">
          <div class="px-2 px-sm-4">
            <h1 class="jumbotron-heading text-intense"><i class="fas fa-flask"></i>The lab</h1>
            <p class="lead">Your happiness exploration starts here!</p>
          </div>
        </div>
      </section>
      <section>
        <% if @active_experiment.blank? %>
          <%= render "dashboard/phases/no_active_experiment" %>
        <% elsif uncompleted_active_experiment? %>
        <%= render "dashboard/phases/active_experiment" %>
        <% elsif completed_active_experiment? %>
          <%= render "dashboard/phases/completed_experiment" %>
        <% end %>
      </section>
    </main>
  </div>
</div>
