<% content_for :meta_title, "My experiment - Experiment.rocks" %>

<main class="focus-form overflow-hidden">
  <div class="container px-0">
    <div class="row">
      <%= render "form", experiment: @experiment %>
    </div>
  </div>
</main>
