<main class="focus-form">
  <div class="container">
    <div class="row">
      <div class="col form">
        <h1 class="h2 text-intense">You're about to start the experiment '<%= @experiment.name %>'</h1>
        <%= render "form", experiment: @experiment %>
      </div>
    </div>
  </div>
</main>
