<% content_for :meta_title, "New experiment - Experiment.rocks" %>

<main class="focus-form">
  <div class="container">
    <div class="row">
      <div class="col form">
        <h1 class="h2 text-intense">You're about to start the experiment</h1>
        <%= render "form", experiment: @experiment %>
      </div>
    </div>
  </div>
</main>
