<tr>
  <td class="innerpadding">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="bodycopy h3">
          <%= @user.first_name %>,
        </td>
      </tr>
      <tr>
        <td class="bodycopy">
          OMG THE TEST WORKED
        </td>
      </tr>
    </table>
  </td>
</tr>
