<tr>
  <td class="innerpadding">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="bodycopy h3">
          Hi <%= @user.first_name %>!
        </td>
      </tr>
      <tr>
        <td class="bodycopy">
          A warm welcome to the lab! I’m very excited for you - this is a big step in your discovery of just how awesome your life can be.<br><br>
        </td>
      </tr>
      <tr>
        <td class="bodycopy">
          There are two things you can do right now:<br><br>
        </td>
      </tr>
      <tr>
        <td class="bodycopy">
          <strong>1. 🧪 Start a life experiment</strong><br>
          Each experiment has a list of benefits they can add to your life. Choose one that resonates with what you're looking for and let’s get started!
        </td>
      </tr>
    </table>

    <table class="col380" align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 380px;">
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td style="padding: 10px 0 20px 0;">
                <table class="buttonwrapper" bgcolor="#866ec7" border="0" cellspacing="0" cellpadding="0" style="border-radius: 8px;">
                  <tr>
                    <td class="button-primary" height="36">
                      <%= link_to "Choose experiment", categories_url %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <td class="bodycopy">
          <strong>2. 👁️ Make a daily observation</strong><br>
          How are you feeling? Keeping track of this regularly will help you determine what areas of your life could use improvements, and whether an experiment has the impact you expected it to have.
        </td>
      </tr>
    </table>

    <table class="col380" align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 380px;">
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td style="padding: 10px 0 20px 0;">
                <table class="buttonwrapper" bgcolor="#e9ecef" border="0" cellspacing="0" cellpadding="0" style="border-radius: 8px;">
                  <tr>
                    <td class="button-secondary" height="36">
                      <%= link_to "Make an observation", observations_url %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="bodycopy" style="padding: 10px 0 0 0;">
          If you have any questions or feedback, just reply to this email. I love hearing from you!
          <br><br>

          Wishing you a wonderful exploration,
          <br><br>

          Love,<br>
          Marlies
        </td>
      </tr>
    </table>
  </td>
</tr>
