<div class="col-12 col-lg-3 blog_about mt-4 mt-lg-0">
  <div class="card mb-0 mb-lg-4">
    <div class="card-body">
      <h3 class="text-intense">ABOUT</h3>
      <div class="row">
        <div class="col-12 col-md-8 col-lg-12">
          <p>Hi! For the past 3 years, I've been experimenting and investigating happiness to create a life I love.<br><br>
            On this blog I'm sharing what I learned, useful insights, the ups and downs of my ongoing exploration and anything experiment-related!
          </p>
          <p>
            <u><a href="<%= about_path %>">Learn more ></a></u>
          </p>
        </div>

        <div class="col-12 col-md-4 col-lg-12 mt-2 text-center">
          <%= image_with_alt_tag("marlies_small") %>
        </div>
      </div>
    </div>
  </div>
</div>
