<footer class="footer navbar navbar-expand-md bg-dark navbar-dark">
  <div class="navbar-nav mr-auto">
    <span class="nav-item">
      <%= link_to "Privacy statement", privacy_statement_path, class: "nav-link" %>
    </span>
    <span class="nav-item">
      <%= link_to "Terms and conditions", terms_conditions_path, class: "nav-link" %>
    </span>
  </div>
  <div class="navbar-nav mr-4">
    <span class="nav-item">
      <%= link_to "Contact", contact_path, class: "nav-link" %>
    </span>
  </div>
</footer>
