<footer class="footer navbar navbar-expand-md bg-dark navbar-dark">
  <div class="navbar-nav">
    <span class="nav-item">
      <a class="nav-link" href="/privacy-statement">Privacy statement</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="/terms-conditions">Terms and conditions</a>
    </span>
  </div>
</footer>
