<footer class="footer navbar navbar-expand-md bg-dark navbar-dark flex-column flex-md-row">
  <div class="navbar-nav mr-auto order-3 order-md-1">
    <span class="nav-item">
      <%= link_to "Privacy statement", privacy_statement_path, class: "nav-link" %>
    </span>
    <span class="nav-item">
      <%= link_to "Terms and conditions", terms_conditions_path, class: "nav-link" %>
    </span>
  </div>
  <div class="navbar-nav mr-auto mr-md-4 order-2 order-md-2">
    <span class="nav-item">
      <%= link_to "Contact", contact_path, class: "nav-link" %>
    </span>
  </div>
  <div class="navbar-nav mr-auto mr-md-4 order-1 my-2 order-md-3">
    <span class="nav-item">
      <a href="https://www.instagram.com/marlies_experiment.rocks/" target="_blank">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </span>
  </div>
  <div class="navbar-nav mr-auto mr-md-4 order-4">
    <span class="nav-item text-muted">
      &copy; experiment.rocks
    </span>
  </div>
</footer>
