<footer class="footer navbar navbar-expand-md bg-dark navbar-dark">
  <div class="navbar-nav">
    <span class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </span>
  </div>
</footer>
