<% content_for :robots, "noindex,follow" %>
<% content_for :meta_title, "Contact #{DEFAULT_META["meta_website"]}" %>

<main class="focus-form">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 form">
        <h2 class="text-intense">Contact</h2>
        <p>Do you have any feedback, questions or ideas you'd like to share? I'd love to hear from you! Contact me at <u><a href="mailto:info@experiment.rocks">info@experiment.rocks</a></u>.</p>
        <p>You can expect to receive a response within 5 days.</p>
        <p>Love, Marlies</p>
      </div>
    </div>
  </div>
</main>
