<main class="focus-form">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 form">
        <h2 class="text-intense">Contact</h2>
        <p>Thank you for your message! It has been sent successfully. You can expect to receive my response within 5 days.</p>
        <p>Love, Marlies</p>
      </div>
    </div>
  </div>
</main>
