<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mt-4">
        <h1>Privacy statement for <span class="text-brand">experiment.rocks</span></h1>
        <p>
          This privacy policy will help you understand how experiment.rocks uses and protects the data you provide to us when you visit and use experiment.rocks.
          We reserve the right to change this policy at any given time, of which you will be promptly updated.
        </p>

        <p>
          <h2 class="h4">What visitor data experiment.rocks collects and why</h2>
          <h3 class="h5">Visitor without an account</h3>
          When you visit the website, we may collect the following data:

          <ul>
            <li>- Your IP address and estimated location (based on the IP address).</li>
            <li>- The internet browser and type of devise used to access the website</li>
            <li>- Website behavior such as viewing a page, clicking a link, registering an account</li>
          </ul>

          This data is sent to Google Analytics via cookies and is used to better understand your needs and interests, so that we can improve the content offered on this website.

          <h3 class="h5 mt-2">User with an account</h3>
          When you're signing up or are signed in to your experiment.rocks user account, we collect the following data:

          <ul>
            <li>- <strong>Personal details</strong>: your first name, email and time zone</li>
            <li>- <strong>Account information</strong>: account creation time, last logged in time, last account update time, IP address</li>
            <li>- <strong>Your journal entries and experiment data</strong> (which experiments you've been doing, start- and end dates, your experiment ratings)</li>
          </ul>

          This data is saved in a secured database. <br>
          Your <strong>personal details</strong> are used to customize the website for you - the time zone is for example used to display the correct current date in your journal.<br>
          Your <strong>account information</strong> is stored for security purposes, it allows us to investigate potentially suspicious account activity.<br>
          Your <strong>journal entries and experiment data</strong> are saved to allow you to access them upon logging in. <br>
          They are also used to investigate - <em>Which experiments bring the most value to people's lives? Which categories (sleep/health/relax/connect) do people in general rate as unsatisfactory?</em> The answer to these questions help us improve the content on the website.
        </p>

        <p>
          <h2 class="h4">Safeguarding and securing the data</h2>
          Experiment.rocks is committed to securing your data and keeping it confidential. Experiment.rocks has done all in its power to prevent data theft, unauthorized access, and disclosure by implementing the latest technologies and software, which help us safeguard all the information we collect online.
        </p>

        <p>
          <h2 class="h4">Our Cookie Policy</h2>
          We use cookies to improve your website experience and for analytical purposes.<br>
          We do not set cookies for advertisement purposes.<br>
          If you want to disable cookies, you can do so by accessing the settings of your internet browser.
        </p>

        <p>
          <h2 class="h4">Links to other websites</h2>
          Experiment.rocks contains links that lead to other websites. If you click on these links experiment.rocks is not held responsible for your data and privacy protection. Visiting those websites is not governed by this privacy policy agreement.
        </p>

        <p>
          <h2 class="h4">Third party data</h2>
          Experiment.rocks shares your personal information only with service providers for website hosting (Heroku), sending emails (Sendgrid) and website analytics (Google Analytics).
          Unless forced by law, we will not share your personal information with any other third parties.
        </p>

        <p>
          <h2 class="h4">Restricting the collection of your personal data</h2>
          You can restrict the collection of your personal data by disabling cookies in your browser.<br>
          If you have created an account with us and wish to delete it, you can do so via the settings page in your profile.<br>
          This deletes your account and all corresponding journal entries and experiment data.
        </p>

        <p>
          <h2 class="h4">Data retention</h2>
          After a year of inactivity, a user account will be deleted.<br>
          They will receive an email 2 weeks in advance to notify them of this upcoming change, which allows them to take action if they wish to keep the account.<br>
        </p>

        <p>
          <h2 class="h4">Contact</h2>
          If you have any questions about the privacy statement, feel free to contact us at <u><a href="mailto:info@experiment.rocks">info@experiment.rocks</a></u>.
        </p>
      </div>
    </div>
  </div>
</main>
