<% content_for :robots, "noindex,follow" %>
<% content_for :meta_title, "Privacy statement #{DEFAULT_META["meta_website"]}" %>

<main role="main" class="bg-light">
  <div class="container bg-white my-4">
    <div class="row">
      <div class="col-md-10 mt-4">
        <h1>Privacy statement for <span class="text-brand">experiment.rocks</span></h1>
        <p>
          This privacy policy will help you understand how experiment.rocks uses and protects the data you provide to us when you visit and use experiment.rocks.
          We reserve the right to change this policy at any given time, of which you will be promptly updated.
        </p>

        <p>
          <h2 class="h4">What visitor data experiment.rocks collects and why</h2>
          <h3 class="h5">Visitor without an account</h3>
          When you visit the website, we may collect the following data:

          <ul>
            <li>- Your IP address and estimated location (based on the IP address).</li>
            <li>- The internet browser and type of devise used to access the website</li>
            <li>- Website behavior such as viewing a page, clicking a link, registering an account</li>
          </ul>

          This data is sent to Google Analytics and is used to better understand your needs and interests, so that we can improve the content offered on this website.

          <h3 class="h5 mt-2">User with an account</h3>
          When you're signing up or are signed in to your experiment.rocks user account, we collect the following data:

          <ul>
            <li>- <strong>Personal details</strong>: your first name, email and time zone</li>
            <li>- <strong>Account information</strong>: account creation time, last logged in time, last account update time, IP address</li>
            <li>- <strong>Your journal entries and experiment data</strong> (which experiments you've been doing, start- and end dates, your experiment ratings)</li>
          </ul>

          This data is saved in a secured database. <br>
          Your <strong>personal details</strong> are used to customize the website for you - the time zone is for example used to display the correct current date in your journal.<br>
          Your <strong>account information</strong> is stored for security purposes, it allows us to investigate potentially suspicious account activity.<br>
          Your <strong>journal entries and experiment data</strong> are saved to allow you to access them upon logging in. <br>
          They are also used to investigate - <em>Which experiments bring the most value to people's lives? Which categories (sleep/health/relax/connect) do people in general rate as unsatisfactory?</em> The answer to these questions help us improve the content on the website.
        </p>

        <p>
          <h2 class="h4">Safeguarding and securing the data</h2>
          Experiment.rocks is committed to securing your data and keeping it confidential. Experiment.rocks has done all in its power to prevent data theft, unauthorized access, and disclosure by implementing the latest technologies and software, which help us safeguard all the information we collect online.
        </p>

        <p>
          <h2 class="h4">Links to other websites</h2>
          Experiment.rocks contains links that lead to other websites. If you click on these links experiment.rocks is not held responsible for your data and privacy protection. Visiting those websites is not governed by this privacy policy agreement.
        </p>

        <p>
          <h2 class="h4">Third party data</h2>
          Experiment.rocks shares your personal information only with service providers for for example website hosting, sending emails and website analytics.
          Unless forced by law, we will not share your personal information with any other third parties.
        </p>

        <p>
          <h2 class="h4">Restricting the collection of your personal data</h2>
          You can restrict the collection of your personal data by disabling cookies in your browser.<br>
          If you have created an account with us and wish to delete it, you can do so via the settings page in your profile.<br>
          This permanently deletes your account and all corresponding journal entries and experiment data.
        </p>

        <p>
          <h2 class="h4">Data retention</h2>
          After a year of inactivity, a user account will be deleted.<br>
          They will receive an email 2 weeks in advance to notify them of this upcoming change, which allows them to take action if they wish to keep the account.<br>
        </p>

        <p>
          <h2 class="h4">Contact</h2>
          If you have any questions about the privacy statement, feel free to contact us at <u><a href="mailto:info@experiment.rocks">info@experiment.rocks</a></u>.
        </p>

        <br><br>

        <p>
          <h2 class="h3" id="cookie_statement">Cookie statement</h2>
          <h3 class="h5">About cookies</h3>
          <p>
            Cookies are small text files which are downloaded to your computer, tablet or mobile phone when you visit a website or application. The website or application may retrieve these cookies from your web browser (eg Internet Explorer, Mozilla Firefox or Google Chrome) each time you visit, so they can recognise you, remember your preferences and provide you with a more secure online experience.<br><br>
            Cookies generally do not hold any information to identify an individual person, but are instead used to identify a browser on an individual machine.<br><br>
            If you prefer, you can restrict, block or delete cookies by changing your browser settings but that may mean that the website won't work properly.
          </p>
          <h3 class="h5">Cookies used by experiment.rocks</h3>
          <p>
            <h4 class="h6"><strong>Necessary cookies</strong></h4>
            These cookies are essential in helping you to make use of the features and services we offer on experiment.rocks. Without these cookies, the services you want to use cannot be provided. These cookies do not gather information about you that could be used to identify you, and they do not monitor or remember where you have been on the internet.<br><br>

            <h4 class="h6"><strong>Functional cookies</strong></h4>
            These cookies allow us to provide you with a better online experience when you use our website. They do not gather or store any information which would allow us to identify you personally.<br><br>

            <h4 class="h6"><strong>Analytical cookies</strong></h4>
            Analytical cookies help us to understand how our customers use our site, so we can keep our products and services relevant, easy to use and up to date. For example, we can see which products and services are most popular, identify when and where errors occur, and test different versions of a page in order to provide an improved online experience.<br><br>

            Sometimes, the services we use to collect this information may be operated by other companies on our behalf. They may use similar technologies to cookies, known as "web beacons" or "tags". These are anonymous and, as they are only used for statistical purposes, they do not contain or collect any information that identifies you.
          </p>
          <h3 class="h5">Removing cookies</h3>
          You can choose to delete cookies and/or get notified whenever a website tries to place one. You can do this via your browser settings.
        </p>
      </div>
    </div>
  </div>
</main>
