<div class="container pb">
  <div class="row">
    <div class="col-md-10">
      <h1>Editing Experiment</h1>

      <%= render 'form', experiment: @experiment %>

      <%= link_to 'Show', @experiment %> |
      <%= link_to 'Back', experiments_path %>
    </div>
  </div>
</div>
