<div class="container-fluid pb">
  <div class="row">
    <%= render "dashboard/sidebar_nav" %>

    <div class="col-md-10">
      <h1>Editing journal statement</h1>

      <%= render "journal_statements/form", journal_statement: @journal_statement %>
    </div>
  </div>
</div>
