.blog_about {
  img {
    height: 10rem;
  }
}

.blog-content {
  font-size: 1.1rem;

  @media (min-width: 768px) {
    padding: 1rem 5rem;
  }

  p {
    margin-bottom: 1.4rem;
  }

  .blog-text img {
    max-width: 17rem;
    text-align: center;

    @media (min-width: 768px) {
      max-width: 24rem;
    }

    @media (min-width: 1024px) {
      max-width: 30rem;
    }
  }
}
