.text-sleep {
  color: $sleep-dark;
}

.bg-sleep {
  background-color: $sleep-light;
}

.btn-sleep {
  background-color: $sleep-dark;
  color: $sleep-light;
  margin-bottom: .5rem;

  &:hover {
    color: $sleep-light;
  }
}

.text-health {
  color: $health-dark;
}

.bg-health {
  background-color: $health-light;
}

.btn-health {
  background-color: $health-dark;
  color: $health-light;
  margin-bottom: .5rem;

  &:hover {
    color: $health-light;
  }
}

.text-relax {
  color: $relax-dark;
}

.bg-relax {
  background-color: $relax-light;
}

.btn-relax {
  background-color: $relax-dark;
  color: $relax-light;
  margin-bottom: .5rem;

  &:hover {
    color: $relax-light;
  }
}

.text-connect {
  color: $connect-dark;
}

.bg-connect {
  background-color: $connect-light;
}

.btn-connect {
  background-color: $connect-dark;
  color: $connect-light;
  margin-bottom: .5rem;

  &:hover {
    color: $connect-light;
  }
}

.categories {
  .featurette-divider {
    margin: 3rem 0;
  }
  
  .category-card {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    min-height: 10rem;

    .card-img-top {
      z-index: 0;
      opacity: 0.15;
    }

    .card-text {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 1;
    }
  }
}
