.text-sleep {
  color: $sleep-dark;
}

.bg-sleep {
  background-color: $sleep-light;
}

.btn-sleep {
  background-color: $sleep-dark;
  color: $sleep-light;
  margin-bottom: .5rem;

  &:hover {
    color: $sleep-light;
  }
}

.text-health {
  color: $health-dark;
}

.bg-health {
  background-color: $health-light;
}

.btn-health {
  background-color: $health-dark;
  color: $health-light;
  margin-bottom: .5rem;

  &:hover {
    color: $health-light;
  }
}

.text-relax {
  color: $relax-dark;
}

.bg-relax {
  background-color: $relax-light;
}

.btn-relax {
  background-color: $relax-dark;
  color: $relax-light;
  margin-bottom: .5rem;

  &:hover {
    color: $relax-light;
  }
}

.text-connection {
  color: $connection-dark;
}

.bg-connection {
  background-color: $connection-light;
}

.btn-connection {
  background-color: $connection-dark;
  color: $connection-light;
  margin-bottom: .5rem;

  &:hover {
    color: $connection-light;
  }
}

.category {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  min-height: 10rem;

  .card-img-top {
    z-index: 0;
    opacity: 0.15;
  }

  .card-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
  }
}
