$sleep: rgb(102,181,255);
$health: rgb(46,171,126);
$relax: rgb(200, 140, 47);
$connect: rgb(170,35,33);

$brand-dark: rgb(91,61,173);
$brand-light: rgb(134,110,199);
$brand-light_disabled: rgba($brand-light,0.6);

$light: rgb(233,236,239);
$dark: rgb(52,58,64);

$error: rgb(220,53,69);
