$sleep-dark: #66b5ff;
$sleep-light: #e6f3ff;

$health-dark: #33cc33;
$health-light: #d6f5d6;

$relax-dark: #D0E11E;
$relax-light: #ffffcc;

$connect-dark: #E11E6E;
$connect-light: #ffcccc;

$brand-dark: #5b3dad;
$brand-light: #866ec7;
$brand-light_disabled: rgba(134,110,199,0.6);

$light: #e9ecef;
$dark: #343a40;

$error: #dc3545;
