.dashboard {
  .full-height {
    min-height: 46.5rem;
  }

  .sidebar {
    padding-top: 5rem;
    background-color: $light;
    color: $dark;

    .active {
      background-color: $brand-light;
      color: white;
    }

    .nav-link {
      &:hover {
        background-color: $brand-light;
        cursor: pointer;
        color: white;
      }

      .fas {
        font-size: 1.2rem;
      }
    }
  }

  .dashboard-header {
    padding-top: 1.5rem;

    @media (min-width: 576px) {
      min-height: 10rem;
    }

    @media (min-width: 1024px) {
      padding-top: 2rem;
      min-height: 13rem;
    }
  }

  @media (min-width: 576px) {
    .dashboard-detail {
      margin-top: -1.5rem;
    }
  }

  @media (min-width: 1024px) {
    .dashboard-detail {
      margin-top: -4rem;
    }
  }

  .experiment-banner {
    .card-img {
      height: 100%;
      object-fit: cover;
    }
  }

  .current-experiment-preview {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

  .alert-complete {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .alert-incomplete {
    background-color: #d9edf7;
    border-color: #bcdff1;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .card-action {
    &:hover,
    &:focus,
    &.focus {
      .text-intense, .icon {
        color: black;
      }
      .btn-primary {
        background-color: $brand-dark !important;
        border-color: $brand-dark !important;
      }
    }
  }

  .card-action-complete {
    &:hover,
    &:focus,
    &.focus {
      .btn-primary {
        background-color: $brand-light_disabled !important;
        border-color: $brand-light_disabled !important;
      }
    }
  }
}
