.dashboard {
  .full-height {
    min-height: 46.5rem;
  }

  .sidebar {
    padding-top: 5rem;
    background-color: $cta-dark;
    color: white;

    .active {
      background-color: $cta-light;
      color: white;
    }

    .nav-link {
      &:hover {
        background-color: $cta-light;
        cursor: pointer;
        color: white;
      }

      .fas {
        font-size: 1.2rem;
      }
    }
  }

  .cta-text {
    color: $cta-dark;
  }
}
