.experiment-detail {
  .jumbotron {
    min-height: 22rem;
  }

  .heading {
    margin-top: -4rem;
  }

  h3 + br {
    display: none;
  }

  .experiment-image {
    background-position: center !important;

    @media (min-width: 678px) {
      background-position: inherit !important;
    }
  }
}
