.focus-form {
  background-color: $light;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .form {
    background-color: white;
    padding: 2rem 2rem;

    .form_group label {
      margin-top: .5rem;
    }
  }
}

input[type='radio']:after {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  top: 0;
  left: -1px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid grey;
}

input[type='radio']:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  top: 0;
  left: -1px;
  position: relative;
  background-color: $brand-dark;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid grey;
}

.collection_radio_buttons {
  margin-bottom: -.1rem;
}

.radio_buttons .form-check-inline {
  margin-botton: .5rem;
}
