.jumbotron-home {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron-home {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron-home p:last-child {
  margin-bottom: 0;
}

.jumbotron-home-heading {
  font-weight: 300;
}

.jumbotron-home .container {
  max-width: 40rem;
}

.about {
  font-size: 1.1rem;

  img {
    height: 10rem;
  }

  @media (min-width: 576px) {
    padding: 3rem 5rem;
  }
}
