@import "bootstrap";
@import "bootstrap-adaptations";
@import "colors";
@import "categories";

html {
  font-size: 16px;
  height: 100%;
}

body {
  padding-top: 4.5rem;
  height: 100%;
}

ul {
  padding-left: 0;
}

li {
  padding-left: 1rem;
  list-style: none;

}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: grey;
  }
}

.fas {
  padding-right: 1rem;
}
