@import "bootstrap";
@import "colors";
@import "bootstrap-adaptations";
@import "home";
@import "form";
@import "dashboard";
@import "categories";
@import "experiments";
@import "blog";

html {
  font-size: 16px;
  height: 100%;
}

body {
  padding-top: 3.5rem;
  height: 100vh;
  font-family: 'Assistant', sans-serif;
  display: flex;
  flex-direction: column;
  color: $dark;
}

ul {
  padding-left: 0;
}

li {
  padding-left: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: grey;
  }
}

.category-header a,
.experiment-content a {
  text-decoration: underline;

  &:hover {
    color: black;
  }
}

main {
  flex: 1 0 auto;
}

h2 + br, h3 + br {
  display: none;
}

.fas {
  padding-right: 1rem;
}

.text-intense {
  font-family: 'Patua One', cursive;
}

.text-brand {
  color: $brand-light;
}

.text-error, #error_explanation {
  color: $error;
}

.text-success {
  color: $health;
}

.footer {
  background-color: $dark;
  color: $light;
  z-index: 1030;
  flex-shrink: 0;
}

.logo img {
  max-width: 10rem;
}
