@import "bootstrap";
@import "colors";
@import "bootstrap-adaptations";
@import "devise";
@import "dashboard";
@import "categories";
@import "experiments";

html {
  font-size: 16px;
  height: 100%;
}

body {
  padding-top: 3.5rem;
  height: 100%;
  font-family: 'Assistant', sans-serif;
}

ul {
  padding-left: 0;
}

li {
  padding-left: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: grey;
  }
}

main {
  padding-bottom: 4.5rem;
}

input[type='radio']:after {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  top: 0;
  left: -1px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid grey;
}

input[type='radio']:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  top: 0;
  left: -1px;
  position: relative;
  background-color: $cta-dark;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid grey;
}

.collection_radio_buttons {
  margin-bottom: -.1rem;
}

.radio_buttons .form-check-inline {
  margin-botton: .5rem;
}

.fas {
  padding-right: 1rem;
}

.text-intense {
  font-family: 'Patua One', cursive;
}
