<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Choose a category</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @categories.each do |category| %>
          <div class="col-md-3">
            <a href="<%= category_show_path(category) %>">
              <div class="card mb-4 shadow-sm">
                <div class="category <%= category.name.downcase %>-background">
                  <h2 class="card-text <%= category.name.downcase %>-text"><%= category.name %></h2>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
