<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Choose a category</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @categories.each do |category| %>
          <div class="col-md-3 category-card">
            <a href="<%= category_show_path(category) %>">
              <div class="card mb-4 shadow-sm">
                <%= image_tag category.image if category.image.attached? %>
                <div class="card-body">
                  <h4><%= category.name %></h4>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
