<tr>
  <td class="innerpadding">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="bodycopy h3">
          Hello <%= @resource.first_name %>!
        </td>
      </tr>
      <tr>
        <td class="bodycopy">
          Someone has requested a link to change your password. You can do this through the link below.
        </td>
      </tr>
    </table>
    <table class="col380" align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 380px;">
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td style="padding: 20px 0 0 0;">
                <table class="buttonwrapper" bgcolor="#866ec7" border="0" cellspacing="0" cellpadding="0" style="border-radius: 8px;">
                  <tr>
                    <td class="button-primary" height="36">
                      <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <td class="innerpadding bodycopy" style="padding: 20px 0 10px 0;">
        If you didn't request this, please ignore this email.
        Your password won't change until you access the link above and create a new one.
      </td>
    </table>
  </td>
</tr>
