<main class="focus-form">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 form">
        <h2 class="text-intense">Page not found</h2>
        <p>The url may not be correct or the content may have moved.</p>
        <p>Perhaps you were looking for <u><%= link_to "a specific experiment", categories_path %></u>?</p>
        <p>If you'd like help in finding what you're looking for, feel free to <u><%= link_to "contact me", contact_path %></u>!</p>
        <p>Love, Marlies</p>
      </div>
    </div>
  </div>
</main>
