<main class="focus-form">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 form">
        <h2 class="text-intense">Something went wrong 😢</h2>
        <p>An error happened, I've been notified and will be looking into this as soon as I can.</p>
        <p>If I can help in any way in the meantime, feel free to <u><%= link_to "contact me", contact_path %></u>!</p>
        <p>Love, Marlies</p>
      </div>
    </div>
  </div>
</main>
