<div class="pl-4 pt-2">
  <h4 class="h6 text-intense"><%= reply.author_name %></h4>
  <span class=""><em><%= reply.created_at.to_s(:date_with_time) %></em></span>
  <p class="comment"><%= sanitize reply.comment %></p>
</div>
