<% if notice.present? %>
  <p class="alert alert-success mt-3"><i class="fas fa-check-circle text-health"></i><%= notice %></p>
<% end %>

<% if alert.present? %>
  <p class="alert alert-danger mt-3"><i class="fas fa-times-circle text-connect"></i><%= alert %></p>
<% end %>
